.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 52px 95px 50px;
  width: 1100px;
  height: 293px;
}

.header__logo {
  display: block;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_menu {
  display: flex;
  margin-top: -5px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  list-style-type: circle;
}

.header__link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-decoration: underline;
}

.header__link.header__link_active {
  text-decoration: none;
  list-style-type: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
}

.header__address {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

.cover {
  padding: 165px 50px 50px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.cover-title {
  margin-bottom: 106px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: relative;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-right: -30px;
  margin-top: -10px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
  margin-top: -7px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  word-spacing: 20px;
  align-self: center;
}

.bet-button {
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.lots {
  height: 723px;
  margin-top: 184px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
}

.card-link {
  height: 596px;
  width: 334px;
}

.card {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  height: 596px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  height: 596px;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  height: 596px;
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  text-decoration: underline;
  height: 55px;
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  align-items: end;
}

.about {
  margin-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  height: 595px;
}

.about__title {
  grid-column-start: 2;
  align-self: center;
  margin-top: 40px;
  width: 291;
  height: 47;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__logo {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 45px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__text {
  grid-column-start: 2;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  height: 312px;
  margin-top: -25px;
}

.footer {
  width: 1100px;
  height: 180px;
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 264px;
  height: 98px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
}

.footer__menu-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  grid-column-start: 3;
  display: flex;
  justify-content: end;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}